.summary-wrapper {
  background: #fff;
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 160px;
  color: #000;
  font-family: "Inter", sans-serif;
}



.cart-card {
  display: flex;
  gap: 15px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  margin-bottom: 20px;
}

.cart-card img {
  width: 120px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
}

.cart-info h3 {
  margin: 0;
  font-size: 18px;
}
.more-services {
  display: flex;
  gap: 16px;
  margin-top: 15px;
  overflow-x: auto;
}

.service-card {
  width: 170px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 10px;
  flex-shrink: 0;
}

.faded {
  opacity: 0.45;
}

.service-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.service-rating {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 6px 0 4px;
  font-size: 14px;
}

.tennis-tag {
  background: rgba(255, 255, 255, 0.2);
  padding: 2px 6px;
  border-radius: 8px;
  font-size: 12px;
}

.service-info h4 {
  margin: 4px 0 2px;
  font-size: 15px;
  color: #000;
}

.location-price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.service-location {
  display: flex;
  align-items: center;
  gap: 6px;
  opacity: 0.8;
}

.location-dot {
  width: 8px;
  height: 8px;
  background-color: #3ccf4e;
  border-radius: 50%;
}

.location-text {
  font-size: 13px;
  color: #000;
}

.price {
  font-weight: bold;
  font-size: 15px;
  color: #000;
}
.grandcheck {

  
  left: 0;
  width: 100%;
  background: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;



  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.grand-left {
  display: flex;
  flex-direction: column;
}

.grand-label {
  margin: 0;
  font-size: 14px;
  opacity: 0.7;
}

.grand-amount {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.checkout-btn-fixed {
  background: #27ae60;
  color: white;
  border: none;
  padding: 12px 54px; 
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.checkout-btn-fixed:hover {
  opacity: 0.9;
}

.bottom-nav {
  
  left: 0;
  width: 100%;
  height: 60px; 
  background: #fff;
  color: #000;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ddd;
  


display: flex;
  
  
  position: sticky;
  bottom: 0;
  z-index: 10;

}
.bottom-nav div {
  font-size: 12px;
  opacity: 0.6;
}
.bottom-nav .active {
  opacity: 1;
  color: #b08b3c;
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  opacity: 0.6;
  cursor: pointer;
}

.nav-item svg {
  font-size: 20px;
  margin-bottom: 4px;
}

.nav-item.active {
  opacity: 1;
  color: #f05f0c;
}

.app {
  min-height: 100vh;
  overflow-y: auto;
}