.gs-wrapper {
  padding: 8px 16px 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
    margin-left: -20px;
  margin-top: -70px;
}


.gp-section-title4 {
  font-size: 15px;
  font-weight: 630;
  margin-bottom: 4px;
  margin-top: -15px;
}

/* Header row */
.gs-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.gs-title {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}

.gs-view-all {
  border: none;
  background: transparent;
  color: #1fb451;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

/* Images row */
.gs-row {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding-bottom: 4px;
}

.gs-row::-webkit-scrollbar {
  height: 3px;
}
.gs-row::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 999px;
}

.gs-item {
  flex: 0 0 auto;
  width: 70px;
  height:70px;
  border-radius: 2px;
  overflow: hidden;
}

.gs-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Desktop padding */
@media (min-width: 768px) {
  .gs-wrapper {
    padding-inline: 40px;
  }
}
@media (max-width: 768px) {

  .gs-wrapper {
    margin-left: 0;
    margin-top: -50px;
  }

  .gs-item {
    width: 60px;
    height: 60px;
  }

}
