.admin-sidebar {
  width: 240px;
  height: 100vh;
  background: #14532d;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
  color: #4ade80;
}

.menu-search {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-bottom: 20px;
}

.menu-title {
  font-size: 12px;
  color: #a7f3d0;
  margin: 15px 0 8px;
  letter-spacing: 1px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar li {
  margin-bottom: 10px;
}

.admin-sidebar a {
  text-decoration: none;
  color: #d1fae5;
  padding: 10px;
  display: block;
  border-radius: 8px;
}

.admin-sidebar a:hover {
  background: #166534;
}

.admin-sidebar a.active {
  background: #22c55e;
  color: black;
}

.logout-btn {
  margin-top: auto;
  padding: 12px;
  border: none;
  background: #ef4444;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.logout-btn:hover {
  background: #dc2626;
}

.admin-sidebar {
  width: 240px;
  height: 100vh;
  background: #14532d;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;

  /* Scroll enable */
  overflow-y: auto;
}


.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar {
  overflow-y: auto;
}

