

.categories-containerr {
    margin-top: 30px;
    padding: 16px;
}

.category-headerr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.category-headerr h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    color: #1e293b;
    font-family: var(--font-title) !important;
}

.view-all-btnn {
    font-size: 12px;
    color: #0f766e;
    border: none;
    background: none;
    cursor: pointer;
}


.category-listt {
    display: flex;
    flex-wrap: nowrap;              
    overflow-x: auto;               
    gap: 14px;
    padding-bottom: 10px;
    padding-top: 20px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}


.category-listt::-webkit-scrollbar {
    display: none;
}
.category-listt {
    scrollbar-width: none;
}

.category-itemm {
    flex: 0 0 auto;                 
    width: 110px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-itemm img {
    width: 70px;
    height: 70px;
    background: #f1f5f9;
    padding: 10px;
    border-radius: 50%;
    object-fit: contain;
}

.category-itemm p {
    margin-top: 8px;
    font-size: 13px;
    text-align: center;
}


@media (min-width: 600px) {

    .categories-containerr {
        margin-top: 50px;
        padding: 24px;
    }

    .category-headerr h3 {
        font-size: 20px;
    }

    .view-all-btnn {
        font-size: 14px;
    }

    .category-listt {
        flex-wrap: wrap;
        overflow-x: hidden;
        justify-content: space-between;
        gap: 16px;
    }

    .category-itemm {
        width: 200px;
        height: 200px;
        max-width: 200px;

        border-radius: 100px;
        background: transparent;

        transition: 
            transform 0.3s ease,
            box-shadow 0.3s ease,
            background 0.3s ease;

        cursor: pointer;
    }

    .category-itemm.active {
        box-shadow: 0 0 0 6px rgba(255, 140, 0, 0.5);
    }

    .category-itemm:hover img {
        transform: translateY(-6px) scale(1.08);
        box-shadow: 0 0 0 6px rgba(240, 239, 237, 0.945);
        background: #f1f5f9;
    }

    .category-itemm img {
        width: 150px;
        height: 150px;
        padding: 12px;
        border-radius: 50%;
        background: #ffffff;

        transition: transform 0.3s ease;
    }

    .category-itemm p {
        margin-top: 20px;
        font-size: 17px;
    }
}
