@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background: white;
  font-family: 'Space Grotesk', sans-serif;
}


.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #222;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  font-size: 16px;
  color: #333;
  transition: 0.3s;
}

.nav-links a:hover {
  color: orangered;
}


.btn-primary {
  padding: 10px 20px;
  background:white;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color:black;
}

.btn-outline {
  padding: 10px 20px;
  border: 2px solid black;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}

.btn-outline:hover {
  color:black;
}


.hero {
  text-align: center;
  font-size: 20px;
  padding: 60px 20px;
  background: linear-gradient(to bottom, #eaf2ff, #ffffff);
}

.hero h1 {
  font-size: 15px;
  margin-top: 10px;
  color: #222;
}

.hero-tag {
  color:black;
  font-size: 27px;
  font-weight: 100;
}

.hero-text {
  margin: 10px auto 20px;
  max-width: 600px;
  color: #555;
}

.hero-buttons {
  margin-top: 20px;
}


.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #222;
}


.category-section {
  padding: 60px 20px;
color: black;
}
.category-product p{
  font-size: 10px;

}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 0 40px;
}

.category-card {
  background: white;
  border:2px solid black;
  border-radius: 16px;
  padding: 25px 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  transition: 0.3s ease;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-6px);
    transition: 0.3s ease;
  


}

.category-icon {
  font-size: 40px;
  
  margin-bottom: 10px;
}

.category-card p {
  font-weight: 600;
  color: #333;
}


.coming-soon {
  background: white;
  text-align: center;
  padding: 50px 20px;
  border-radius: 20px;
  border:2px dotted;
  margin: 60px;
  width:500px;
  align-items: center;
  margin-left:500px ;
}
.coming-soon:hover{
transform: translateY(-6px);
  transition: width 0.4s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);}

.coming-soon h3 {
  font-size: 24px;
  color: #222;
}

.coming-soon p {
  max-width: 600px;
  margin: 10px auto;
  color: #555;
  font-size: 13px;
}


.retailer-cta {
  text-align: center;
  padding: 50px 20px;
  background-color: #000;
}

.retailer-cta h2 {
  font-size: 28px;
  color:white;
}

.retailer-cta p {
  margin: 10px auto;
  color:white;
}

.footer {
  background: #1e1e1e;
  color: white;
  padding: 40px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-column a {
  color: #dcdcdc;
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
}

.footer-column p {
  color: #dcdcdc;
  margin-bottom: 6px;
}
.section.features {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 40px 0;
  background: #fff;
}

.feature {
  max-width: 250px;
  font-size: 11px;
}

.feature .icon {
  width: 70px;
  height: 70px;
  margin: 0 auto 15px;
  background: #e7e7e7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-pr{
  background-color: #000;
  color: #f8f9fb;
  padding: 5px;
}
.btn-pr:hover{
transform: translateY(-6px);

  transition: width 0.4s ease;
  background-color:orangered;
    cursor: pointer;

  box-shadow: 0 10px 25px rgba(0,0,0,0.15);}
.coming
{
  width: 50px;
  height: 50px;
}
