/* ---------- BASE NAVBAR -------------- */
body {
  position: relative;
  z-index: 0;
}
.local
{
  width: 25px;
  height: 25px;
}
.loca
{
  display: flex;
  text-decoration: none;
  color: black;
  font-weight: 800;
  margin-top: 5px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 99999;
  background: #fff;
}

.navbar-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 14px 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.navbar-logo {
  font-size: 22px;
  font-weight: 700;
  color: #0a7c3c;
  text-decoration: none;
  margin-left: -10px;
}

/* -------- DESKTOP MENU ------- */
.navbar-menu {
  display: flex;
  gap: 26px;
}

.navbar-menu a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

/* DESKTOP ACTIONS */
.navbar-actions {
  display: flex;
  gap: 12px;
}

/* Profile icon desktop */
.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111;
  padding: 8px;
  border-radius: 50%;
}

/* ===== MOBILE ===== */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

/* MOBILE PROFILE */
.mobile-profile-right {
  display: none;
}

.mobile-profile {
  color: #111;
  display: flex;
  align-items: center;
}

/* SIDEBAR */
.mobile-sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  max-width: 320px;
  height: 100vh;
  background: #fff;
  z-index: 100000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: right 0.35s ease;
  box-shadow: -8px 0 25px rgba(0,0,0,0.2);
}

.mobile-sidebar.open {
  right: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-logo {
  font-size: 18px;
  font-weight: 700;
  color: #0a7c3c;
}

.sidebar-close {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

.sidebar-links {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sidebar-links a {
  text-decoration: none;
  font-size: 15px;
  color: #111;
}

.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 90000;
}

/* ================= MOBILE VIEW ================= */
@media (max-width: 900px) {
  .navbar
  {
    margin-left: -10px;
    min-width: 380px;
  }

  /* Hide desktop items */
  .navbar-menu,
  .navbar-actions {
    display: none;
  }

  .menu-toggle {
    display: block;
    margin-right: 6px;  
  }

  .mobile-profile-right {
    display: flex;
    align-items: center;
  }

  .navbar-logo {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .mobile-sidebar {
    width: 100%;
    max-width: none;
  }
}