.about-container{
    height: 100vh;
    width: 100vw;
    padding: 20px;
}

.about-contents{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-row-gap: 20px;
}

.about-contents section p{
    font-size: 18px;
    margin: 0;
    font-weight: normal;
}

.about-contents section h2{
    margin-bottom: 20px;
    font-size: 25px;
}