.faq-container {
  width: 100%;
  margin: 0 auto;
}

.faq-item {
  background: #b7b7b74c;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 0px solid #e5e5e5;
  overflow: hidden;
  padding: 10px;
}

/* Question Button */
.faq-question {
  width: 100%;
  background: none;
  border: none;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* Arrow Animation */
.arrow-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.arrow-icon.rotate {
  transform: rotate(180deg);
}

/* Answer Box (Collapsed by Default) */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  transition: max-height 0.4s ease, padding 0.3s ease;
}

/* When Open */
.faq-answer.open {
  max-height: 200px; /* adjust based on content */
  padding: 15px 20px;
}

/* For smoother animation text */
.faq-answer p {
  margin: 0;
  font-size: 15px;
  color: #333;
}
